<!--footer-->
<footer>
  <div class="container">
    <div class="item">
      <div class="title">群悅科技股份有限公司</div>
      <ul>
        <li>tel : 02-2345-5208</li>
        <li>fax: 02-7718-5269</li>
        <li>service@twdd.com.tw</li>
        <li>台北市信義路四段415號13樓之6</li>
      </ul>
    </div>
    <div class="item">
      <div class="title">支援服務</div>
      <ul>
        <li><a href="mailto:service@twdd.com.tw">聯絡我們</a></li>
        <li><a href="javascript:;" [routerLink]="['/about/privacy']">隱私權政策</a></li>
        <li><a href="javascript:;" [routerLink]="['/about/note']">服務條款</a></li>
      </ul>
    </div>
    <div class="item">
      <div class="title">社群</div>
      <ul>
        <li><a href="https://www.facebook.com/twdd5209/" target="_blank">Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UCXMOj0jR100KYkGsehQNqNQ" target="_blank">Youtube</a></li>
        <li><a href="javascript:;" target="_blank">Line@</a></li>
      </ul>
    </div>
    <div class="item qrcode">
      <div class="title">下載APP</div>
      <div class="pic"><img src="./assets/img/qr.png"></div>
      <div class="btns" (click)="downloadApp()">立即下載APP </div>
    </div>
  </div>
</footer>
<!--footer end-->
