<div class="wrap">
  <section>
    <div class="container">
      <!--.title-cont start-->
      <div class="title-cont title-cont-btn">
        <!--title start-->
        <div class="title tit-pic">
          <div class="pic"><img src="./assets/svg/qa.svg" alt="qa"></div>
          <h3>常見問題集</h3>
        </div>
        <!--title end-->
        <!--.btn-cont start-->
        <!--<div class="btn-cont">
          <button class="btn" routerLinkActive="foucs" [routerLink]="['/user/qa/general']">一般問題</button>
          <button class="btn" routerLinkActive="foucs" [routerLink]="['/user/qa/operate']">操作問題</button>
        </div>-->
        <!--.btn-cont end-->
      </div>
      <!--.title-cont end-->

      <router-outlet></router-outlet>

    </div>
  </section>

</div>
