<div class="wrap">
  <section class="st-info">
    <div class="container">
      <div class="title-cont">
        <div class="title">
          <h3>酒後返家的方式比較</h3>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>搭乘計程車</th>
            <th>酒後駕車</th>
            <th>台灣代駕</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">花費車資</th>
            <td>10公里約1000元</td>
            <td class="green">0元</td>
            <td>10公里約450元</td>
          </tr>
          <tr>
            <th scope="row">隔天牽車車資</th>
            <td>10公里約300元</td>
            <td class="green">0元</td>
            <td class="green">0元</td>
          </tr>
          <tr>
            <th scope="row">牽車耗費時間</th>
            <td>有</td>
            <td class="green">無</td>
            <td class="green">無</td>
          </tr>
          <tr>
            <th scope="row">車輛安置</th>
            <td>隔夜停車</td>
            <td class="green">0元</td>
            <td class="green">0元</td>
          </tr>
          <tr>
            <th scope="row">車輛遺失風險</th>
            <td>有</td>
            <td class="green">無</td>
            <td class="green">無</td>
          </tr>
          <tr>
            <th scope="row">酒駕肇事風險</th>
            <td class="green">無</td>
            <td>肇事意外</td>
            <td class="green">無</td>
          </tr>
          <tr>
            <th scope="row">酒駕罰則</th>
            <td class="green">無</td>
            <td>酒駕罰單20萬以下</td>
            <td class="green">無</td>
          </tr>
          <tr>
            <th scope="row">酒駕刑責</th>
            <td class="green">無</td>
            <td>2年以下有期徒刑</td>
            <td class="green">無</td>
          </tr>
        </tbody>
      </table>
      <div class="note">
        <span class="bold">酒駕罰則：</span><br> 刑法第185條之3條文修正案，將酒駕者的刑度提高為2年以下有期徒刑，得併科20萬元以下罰金，修法後酒駕行為至少應判處2月有期徒刑。也新增酒駕致人於死者，將處3年以上10年以下有期徒刑；致人重傷者則處1年以上7年以下有期徒刑，用以懲治酒駕。
      </div>


    </div>
  </section>

  <section class="st-info">
    <div class="container con-line">
      <div class="title-cont">
        <div class="title">
          <h3>代駕服務的費用比較</h3>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>計程車代駕</th>
            <th>泊車小弟代駕</th>
            <th>台灣代駕</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">服務費用</th>
            <td>1000元起</td>
            <td>1000元起</td>
            <td class="green">450元</td>
          </tr>
          <tr>
            <th scope="row">人員素質</th>
            <td class="green">小黃司機</td>
            <td>不清楚</td>
            <td class="green">優質</td>
          </tr>
          <tr>
            <th scope="row">良民證</th>
            <td class="green"><i class="material-icons">done</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
          <tr>
            <th scope="row">無肇事記錄</th>
            <td class="green"><i class="material-icons">done</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
          <tr>
            <th scope="row">代駕責任保險</th>
            <td class="green"><i class="material-icons">done</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
          <tr>
            <th scope="row">駕駛技術</th>
            <td class="green">專業訓練</td>
            <td>不清楚</td>
            <td class="green">專業訓練</td>
          </tr>
          <tr>
            <th scope="row">行駛路徑圖</th>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
          <tr>
            <th scope="row">客服電話</th>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
          <tr>
            <th scope="row">司機評分機制</th>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td class="green"><i class="material-icons">done</i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
