<div class="info-cont">
  <ul class="info">
    <li>
      <div class="title bold">參加條件</div>
      <div class="des">有自小客車駕駛經驗，考取駕照滿5年，身體健康狀況良好。另外需提供身分證、自小客車駕駛執照及直系親屬聯繫方式。</div>
    </li>
    <li>
      <div class="title bold">合作模式</div>
      <div class="des">成為我們合作關係的夥伴需自備一台有GPS定位及無線網路android智慧型手機。當有時間想營業時，立即啟動手機的司機端APP並按”on”呈現綠色開始鍵，需要休息或不想營業時就按”on”呈現紅色結束鍵，下線結束營業。 工作時間彈性、能自由作主，工作地點在所登記的縣市內也能隨心所欲移動。系統將會自動媒合距離您最近的顧客。更多資訊，歡迎報名參加說明會
      </div>
    </li>
    <li>
      <div class="title bold">指派模式</div>
      <div class="des">顧客選取：顧客下載台灣代駕用戶端軟體，在手機上就能看到離他最近的代駕司機資訊，選取其中一位，直接呼叫該名代駕司機來完成代駕服務。
      </div>
      <div class="des">系統指派：顧客透過電話委託或預約代駕服務，系統會自動根據客戶預約時間及距離進行指派。</div>
    </li>
    <li>
      <div class="title bold">代駕司機的收入</div>
      <div class="des">豐厚收入及獎金，請參與報名說明會，了解詳情。</div>
    </li>
    <li>
      <div class="title bold">簽約合作需要的物品</div>
      <div class="des">
        <span class="bold">android系統手機：</span><br>
        手機要求: android手機系統4.0版本以上，支援3G或以上網路。
      </div>
      <div class="des">
        <span class="bold">標準服務裝備：</span><br>
        一次性支付全套包含制服等裝備的租押金1000/套（請參考說明會內容），解除合約者返還裝備將退還押金，若部分裝備損耗無法歸還會酌收相應費用。
      </div>
      <div class="des">
        <span class="bold">系統費：（取得個人專屬儲值帳號）</span><br>
        代駕服務完成司機向顧客收取現金，公司按約定扣取系統費用。代駕司機從合作起即需透過公司櫃檯或ATM進行儲值，當系統費餘額低於規定金額時，系統將不再提供指派資訊（如不及時儲值，系統會自動暫停服務）直到儲值足額後恢復。
        </div>
    </li>
    <li>
      <div class="title bold">專業培訓</div>
      <div class="des">新簽約合作的代駕司機在正式營業前由公司統一安排培訓，經過專業訓練並考試合格後才能正式進行代駕服務。</div>
    </li>
  </ul>
</div>
