
@import "./../../scss/color";
@import "./../../scss/media";

.info-cont{
    .qa{
        padding-left: 40px;
        @media #{$sml}{
            padding-left: 20px;
        }
        li{
            padding: 40px 0;
            font-size: 1.5rem;
            line-height: 1.5;
            list-style: decimal;
            border-bottom: 1px solid $lightGray;
            font-weight: bold;
            .des{
                font-weight: normal;
                color: $textDark;
                line-height: 2;
                font-size: 1rem;
                margin-top: 10px;
            }
            @media #{$sml}{
                font-size: 1.125rem;
                padding: 20px 0;
                border-bottom: 0;
                .des{
                    font-size: 14px;
                }
            }
        }
        li:nth-last-child(1){
            border: 0;
        }
    }
}