<div class="info-cont">
  <ul class="info">
    <li>
      <h3 class="step">1</h3>
      <div class="txt">
        <div class="title bold">報名參加說明會</div>
        <div class="des">進入台灣代駕官網的線上系統報名說明會。會後登入台灣代駕官網新手專區，上傳相關資料，備妥後即可收到路試資訊。
        </div>
      </div>
    </li>
    <li>
      <h3 class="step">2</h3>
      <div class="txt">
        <div class="title bold">路試</div>
        <div class="des">未取得職業駕照者，將另行道路測試。路試後舉行行前說明會，學習服務流程。
        </div>
      </div>
    </li>
    <li>
      <h3 class="step">3</h3>
      <div class="txt">
        <div class="title bold">完成</div>
        <div class="des">完成路試及面試合格後，辦理合作簽約手續， 領取識別證、標準制服並啟動軟體。
        </div>
      </div>
    </li>
  </ul>
</div>
