<div class="wrap">
  <!--banner start-->
  <div class="banner">
    <div class="banner-cont">
      <div class="bg">
        <img src="./assets/img/drive.jpg">
      </div>
      <div class="container">
        <h1>加入台灣代駕<br>挑戰百萬年薪</h1>
        <div class="btns" [routerLink]="['/drive/recruit/method']">了解詳情 <i class="material-icons">arrow_forward</i></div>
        
      </div>
    </div>
  </div>
  <!--banner end-->

  <!--str start-->
  <section class="st2">
    <div class="container container-lg">
      <h2>加入我們的團隊</h2>
      <ul class="items">
        <li (click)="goRecruit()">
          <div class="pic"><img src="./assets/svg/people.svg"></div>
          <div class="txt">
            <div class="title">司機招募</div>
            <div class="sub">了解加入的條件及合作模式<br>現在就加入我們的團隊</div>
          </div>
        </li>
        <li (click)="goOrientation()">
          <div class="pic"><img src="./assets/svg/calendar.svg"></div>
          <div class="txt">
            <div class="title">報名說明會</div>
            <div class="sub">想加入我們的團隊嗎<br>立即報名說明會</div>
          </div>
        </li>
        <li (click)="goLogin()">
          <div class="pic"><img src="./assets/svg/login.svg"></div>
          <div class="txt">
            <div class="title">夥伴登入</div>
            <div class="sub">台灣代駕司機會員登入</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--st2 end-->

  <!--st3 start-->
  <section class="st3">
    <div class="container container-lg">
      <div class="instro">
        <h2>台灣代駕司機版</h2>
        <h5>提供代駕夥伴們最完整即時的訂單資訊，從接訂單的服務流程到歷史訂單查詢、收入查詢、顧客評價、最新訊息等重要訊息一手掌握！</h5>
        <ul>
          <li>
            <div class="pic qr">
              <img src="./assets/img/qr.png">
            </div>
            <p>掃描QR Code立即下載<br>
台灣代駕司機版APP</p>
            <div class="btna lb">Iphone / Andriod</div>
            <div class="btna sb">立即下載APP</div>
          </li>
          <li>
            <div class="drive"><img src="./assets/img/drive.png"></div>
          </li>
        </ul>
      </div>
      <div class="phone">
        <img src="./assets/img/drive-phone.png">
      </div>
    </div>
  </section>
  <!--st3 end-->
  <!--st5 start-->
  <section class="st5">
    <div class="container">
      <h2>夥伴經驗分享</h2>

      <!--<div class="arrow btn-left"><i class="material-icons">keyboard_arrow_left</i></div>
      <div class="arrow btn-right"><i class="material-icons">keyboard_arrow_right</i></div>-->

      <ul class="peo">
        <li>
          <div class="pic"><img src="./assets/img/dr1.jpg"></div>
          <div class="txt">
            <h4 class="name">王品森</h4>
            <div class="dis">公司提供完整的服務流程、車輛駕駛、軟體操作等教學培訓，可以很快就進入狀況賺代駕收入</div>
          </div>
        </li>
        <li>
          <div class="pic"><img src="./assets/img/dr2.jpg"></div>
          <div class="txt">
            <h4 class="name">吳嘉文</h4>
            <div class="dis">最讓我感到放心的是每趟代駕服務都有完整的代駕責任保險保障，可以安心投入駕駛工作中</div>
          </div>
        </li>
        <li>
          <div class="pic"><img src="./assets/img/dr3.jpg"></div>
          <div class="txt">
            <h4 class="name">張哲睿</h4>
            <div class="dis">顧客很常使用也很滿意感謝我們的服務，能夠讓客人平安回到家，讓我覺得這份工作很有意義</div>
          </div>
        </li>
      </ul>

    </div>
  </section>
  <!--st5 end-->

</div>
<!--wrap end-->
