<div class="cont cont-form cont-form-login">
  <div class="box box-left">
    <div class="pic"><img src="./assets/svg/person1.svg" alt=""></div>
    <h4>夥伴登入</h4>
    <div class="txt">
      台灣代駕創業夥伴<br>歡迎您回來
    </div>
  </div>
  <div class="box myform">
    <div class="title form-title">
      請輸入您的帳號及密碼
    </div>
    <form role="form">
      <div class="form-group form-group-lg col-xs-12">
        <label for="myname">帳號</label>
        <input type="text" class="form-control" id="myname" placeholder="請輸入手機號碼">
      </div>

      <div class="form-group form-group-lg col-xs-12">
        <label for="Addr">密碼</label>
        <input type="text" class="form-control" id="Addr" >
      </div>
      <div class="forget"><a href="javascript:;">忘記密碼?</a></div>
      <button type="submit" class="submit-btn">夥伴登入</button>
      <div class="tab">無法登入？ <span class="red">請確認您的帳密是否正確</span></div>
    </form>
  </div>
</div>
