
<div class="info-cont">
  <ul class="info">
    <li>
      <h4>使用者私隱聲明</h4>
      <div class="des">
        當您使用我們的手機應用程式、網站及其他線上產品和服務 (統稱「服務」)，以及透過您與我們的其他互動和通訊時，台灣代駕基於優化服務體驗之目的、建立使用者支付系統並進行使用者管理與業務行銷之目的收集有關您的資訊。本私隱聲明適用于群悅科技收集和使用的資訊。
      </div>
    </li>
    <li>
      <h4>適用範圍</h4>
      <div class="des">
        本私隱聲明 (簡稱「聲明」) 適用於使用我們的應用程式或服務要求運輸、遞送或其他服務 (「使用者」) 的任何人士，不論此人身處世界何地。本聲明不適用於我們從司機、快遞員、運輸公司夥伴，或其他依授權使用 台灣代駕 平臺的任何人士 (統稱「司機」) 那裡收集的資訊。如果您同時以使用者及司機身份使用服務，相應的私隱聲明適用於您不同的服務互動。
      </div>
    </li>
    <li>
      <h4>資訊收集</h4>
      <div class="des">
        我們收集您直接向我們提供的資訊，如當您建立或修改您的帳戶、要求服務、聯絡客戶支援，或者與我們交流時。這些資訊可能包括：姓名、電郵、電話號碼、郵遞地址、照片、支付方式、要求的項目 (交付服務)、簽貨單，以及您選擇提供的其他資訊等。
      </div>
    </li>

    <li>
      <h4>當您使用我們的服務時，我們收集有關您的以下一般類別的資訊：</h4>
      <ul>
        <li>位置資訊：當您使用服務進行運輸或交付時，我們透過司機使用 台灣代駕應用程式收集有關行程的精確位置資料。如果您允許 台灣代駕 應用程式透過您的手機作業系統 (平臺) 使用的使用權限系統存取位置服務，當應用程式在前景或背景中執行時，我們將收集您裝置的準確位置。</li>
        <li>交易資訊：我們收集有關您使用我們服務的交易詳細資訊，包括提供的服務類型、提供服務的日期和時間、支付的金額、運輸的距離及其他交易相關詳細資訊。另外，如果有人使用了您的邀請碼，我們可能會將您的姓名與該人士關聯。</li>
        <li>裝置資訊：我們可能收集有關您移動裝置，例如，包括硬體型號、作業系統及版本、檔案名稱及版本、偏好語言、唯一裝置識別碼、廣告識別碼、序號、裝置移動資訊，及手機網路資訊。</li>
        <li>通話及簡訊資料：我們的服務有助於使用者和司機之間通訊。為改進此服務，我們接收通話資料、包括通話或傳簡訊的日期及時間、各方的電話號碼，以及簡訊的內容。</li>
        <li>記錄資訊：當您與服務互動時，我們收集伺服器記錄，其中可能包括如裝置位址、存取日期及時間、應用程式功能或檢視的頁面、應用程式損毀及其他系統活動、瀏覽器類型，及您在與我們的服務互動之前使用的第三方網站或服務。</li>
      </ul>
    </li>
    
    <li>
      <h4>關於平臺許可的重要資訊</h4>
      <div class="des">大多數手機平臺 (iOS、Android 等) 定義了未經您的同意應用程式無法存取的一些裝置資料類型。這些平臺對於取得您的同意有不同的使用權限系統。台灣代駕應用程式首次想要取得存取某些資料類型的許可時 iOS 平臺將會提醒您，並讓您同意 (或不同意) 該要求。Android 裝置將會在您首次使用應用程式之前通知您 台灣代駕 應用程式尋求取得許可，您使用該應用程式即表示您同意。欲了解應用程式尋求的平臺級許可權，請瀏覽我們的新 iOS 許可權頁面和 Android 許可權頁面。有時，相比平臺本身提供的服務，這些許可權需要更多的解釋，我們的許可權要求隨著時間的推移而變更，因此我們建立這些頁面為我們的使用者提供最新的權威性資源。</div>
    </li>

    <li>
      <h4>我們亦可能從其他來源接收資訊，並將其與透過我們的服務收集的資訊匯總。例如：</h4>
      <ul>
        <li>如果您存取使用我們的 API (或我們所使用的其他方的 API) 獨立應用程式或網站，我們可能從該網站或應用程式接收有關您或您的連接的資訊。</li>
        <li>當您要求服務時，我們的司機在向您提供服務後向我們提供用戶評價。</li>
        <li>如果您亦以其他身份與我們的服務互動，例如以司機身份或我們提供的其他應用程式使用者身份，我們可能會將該資訊與我們收集的您作為用戶或搭車者的身份匯總或關聯。</li>
      </ul>
    </li>

    <li>
      <h4>我們可能將我們收集的關於您的資訊用於：</h4>
      <ul>
        <li>提供、保持和改進我們的服務，例如，包括便於付款、傳送收據、提供產品和服務 (及傳送相關資訊)、開發新功能、為使用者和司機提供客戶支援、開發安全功能、驗證使用者身份、傳送產品更新資訊及管理訊息。</li>
        <li>執行內部操作，例如，包括預防服務欺詐和濫用；軟體錯誤疑難排解及操作問題；執行資料分析、測試及研究；監控和分析使用情況及活動趨勢。</li>
        <li>在許可情況下及根據當地適用法律，向您傳送我們認為您會感興趣的通訊，包括有關 台灣代駕 及其他公司的產品、服務、折扣、新聞及活動；處理爭議、抽獎或其他折扣項目並履行任何相關獎項。</li>
        <li>個人化及改進服務，包括提供或建議功能、內容、社會關係、轉送及廣告。</li>
      </ul>
      <div class="des">
        我們可能會將本聲明中所述資訊傳輸到台灣代駕平台。在這種情況下，我們將依照本聲明採取適當的措施保護您的個人資訊。
      </div>
    </li>

    <li>
      <h4>我們可能與以下各方共用您的資訊：</h4>
      <ul>
        <li>與司機，使其按您的要求提供服務。例如，我們共用您的姓名、電話，由司機做出普通使用者評級，與司機商確搭載乘客或目的地的位置。</li>
        <li>我們的折扣優惠為您提供要求的服務。</li>
        <li>與一般公眾，如果您在大眾論壇，如部落格評論、社交媒體帖子或一般公眾可檢視的我們服務的其他功能上提交內容。</li>
        <li>與您選擇讓我們共用資訊的第三方，例如整合我們的 API 或服務的其他應用程式或網站，或那些我們整合了其 API 或服務者。</li>
        <li>如果您參與我們的台灣代駕 等企業解決方案業務，就可以與用人單位 (或類似實體) 和任何必要參與的第三方 (如費用管理服務提供者) 合作。</li>
      </ul>
    </li>

    <li>
      <h4>我們可能與以下各方共用您的資訊：</h4>
      <ul>
        <li>與 群悅科技 公司及成員實體，其代表我們或為資料集中化和/或後勤目的提供服務或執行資料處理。</li>
        <li>與供應商、顧問、市場營銷夥伴及需要存取此資訊以代表我們執行工作的其他服務提供商。</li>
        <li>為回應主管機關資訊要求，如果我們認為是依照任何適用法律、法規或法律程序或法律要求公開的。</li>
        <li>與執法人員、政府或其他第三方，如果我們認為您的行為與我們的使用者合約、服務條款或政策不一致，或者為了保護 台灣代駕 或他人的權利、產權或安全。</li>
        <li>當其他公司對我們的公司資產併購、銷售、合併或重組、融資或收購我們業務的全部或部份時或在這些事項協商期間。</li>
      </ul>
    </li>

    <li>
      <h4>社交共用功能</h4>
      <div class="des">
        服務整合了社交共用功能及其他相關工具，可讓您透過與其他應用程式、網站或媒體共用您在我們的服務上所做的行動。視乎您建立的社交共用服務設定，您使用此功能可讓您與朋友或公眾共用資訊。請參考那些社交共用服務的私隱政策，了解關於其如何處理您提供或透過其共用的資料的更多資訊。
      </div>
    </li>

    <li>
      <h4>使用者帳戶資訊</h4>
      <div class="des">
        您本人可查詢、複製、申請變動或閱覽屬於您的個人資料，若非本人或於我們尚未查證您為本人前，您不得申請查詢、複製、請求閱覽或申請變動不屬於本帳號之個人資料及帳號服務。如非前述情況之申請者，必要時您將提供相關個人資料及書面資訊，使我們可協助處理作業程序。您本人可要求停止蒐集、處理、利用或刪除屬於您的個人資料；但一經停止或刪除，您將無法繼續使用本服務。如果您希望取消您的帳戶，請電郵我們：service@twdd.com.tw。請注意，於妨害國家重大利益、妨害公務機關執行法定職務、妨害蒐集機關或第三人重大利益時，本公司有權拒絕您主動提出變更、刪除或異動個人資料之請求。
      </div>
    </li>

    <li>
      <h4>存取權限</h4>
      <div class="des">
        台灣代駕 將會依據適用法律，遵照個人有關存取、更正，及/或刪除儲存的個人資料的要求。
      </div>
    </li>

    <li>
      <h4>個人資料的安全</h4>
      <div class="des">為保護您的隱私，本公司提供必要之技術及措施保護個人資料。您的個人資料、註冊帳號及密碼等，請您妥善保管，避免外洩。您的信用卡資料，請您妥善保管，避免為他人之不法用途。您同意在註冊即使用本服務時所留存的資料與事實相符，如嗣後發現你的個人資料遭他人非法使用或有任何異常時，應即時通知本公司。您同意於使用本服務時，所提供及使用之資料皆為合法，並無侵害第三人權利、違反第三方協議或涉及任何違法行為。如因使用服務而致第三人損害，除本公司故意或重大過失外，本公司並不負擔相關賠償責任。</div>
    </li>

    <li>
      <h4>位置資訊</h4>
      <div class="des">我們要求我們的應用程式根據您的移動作業系統使用的使用權限系統從您的裝置收集準確位置的許可。如果您開始允許收集此資訊，以後您可以透過變更您移動裝置上的位置設定停用它。然而，這將對您使用我們服務的某些功能有所限制。而且，停用我們的應用程式從您的裝置收集準確的位置資料，將不會限制我們從司機裝置收集您的行程位置資訊，亦不能限制我們從您的 IP 位址衍生大概的位置。</div>
    </li>

    <li>
      <h4>聯絡資訊</h4>
      <div class="des">我們亦希望透過您的手機作業系統使用的使用權限系統允許我們的應用程式從您的裝置收集及同步聯絡資訊。如果您初始允許收集此資訊，iOS 使用者以後可以透過變更您移動裝置上的通訊錄設定以停用它。Android 平臺不提供此設定。</div>
    </li>

    <li>
      <h4>促銷通訊</h4>
      <div class="des">
        您可以按照促銷郵件中的說明，選擇不接收我們傳送的促銷郵件。如果您選擇不接收，我們仍可能會向您傳送非促銷通訊，如有關您帳戶、您要求的服務或我們目前的業務關係。
      </div>
    </li>

    <li>
      <h4>Cookie</h4>
      <div class="des">我們會分析您使用本APP時的IP位址、Cookie、瀏覽器種類、瀏覽器語言、使用者環境等，並為提供更為優質之服務，或阻隔妨礙正常服務之非法行為而使用上述資料。你可以自由選擇是否使用Cookie，但不儲存Cookie可能會無法使用本服務之部分內容，請您留意。</div>
    </li>

    <li>
      <h4>聲明變更</h4>
      <div class="des">我們可能會不時對本聲明變更。如果我們在處理您的個人資訊方面有重大變更，或變更本聲明，我們將透過服務或其他方式，如電郵通知您。如您不同意本政策之任何條款或修改變更之內容，請您立即停止使用本服務，在此通知後您繼續使用服務即表示您同意這些變更。我們鼓勵您定期檢視本聲明，了解有關我們私隱實踐的最新資訊。</div>
    </li>
  </ul>
</div>