<div class="info-cont">
  <ul class="info">
    <li>
      <h4>委託代駕服務協議</h4>
      <ul>
        <li>本協定為群悅科技股份有限公司所設立之台灣代駕之代駕司機與乘客間之代理駕駛服務約定內容。</li>
        <li>乘客於代駕司機所提出之本協定上簽字時即視為乘客與代駕司機均瞭解並同意本協定及內容，乘客並同意以台灣代駕所設定之收費標準和會員政策向代駕司機支付服務費用。</li>
        <li>乘客應依據台灣代駕提供之代駕司機資訊核對代駕司機之識別證及身份，如因未經身份核對，使用非台灣代駕之代駕司機，因而所生之糾紛或損害，台灣代駕不承擔任何責任。</li>
        <li>乘客在本協定簽字即確認本次服務所用車輛具備三個必要條件：車輛手續齊全、車況正常（非改裝車及部件）、有車輛保險（須包含車輛強制險、車體損失險、第三人責任險）：如以上條件不具備，請乘客如實告知代駕司機，代駕司機有權拒絕本次服務。如因乘客未主動告知或隱瞞以上狀況帶來的糾紛或者損害，台灣代駕不承擔任何責任，請乘客自行負責。</li>
        <li>對於意識不清醒、醉酒之乘客必須有清醒同伴陪同，經由陪同人員在本服務協定上簽字後，代駕司機方提供代駕服務，其陪同人員視為乘客之代理人。</li>
        <li>乘客在上車時，須檢查車上的貴重物品並妥善保管，代駕司機保證不碰觸乘客除了駕駛必須接觸之外的任何物品。如發生物品丟失情況，請即時提出，代駕司機會即時告知回報台灣代駕並報警，乘客及代駕司機須配合員警進行調查。服務結束同意司機離開後即確認本次服務過程中沒有發生物品丟失情況。</li>
        <li>服務途中，代駕司機不得違規行駛，如果不慎違規行駛，違規罰款由代駕司機自行承擔；乘客有權要求代駕司機走特定路線，但不得要求違規行駛，如果乘客提出違規要求，代駕司機有權拒絕（如因委託方干擾安全駕駛造成違規及交通事故，代駕司機不承擔相應責任與賠償義務，由乘客自行承擔)。</li>
        <li>台灣代駕及代駕司機不承擔以下相應責任及賠償義務項：代駕過程中因車輛自燃、方向盤及刹車失靈、爆胎、機件老化、涉水、外界掉落異物對車輛損傷、輪胎紮釘及壓石子等，非人員操作造成的車輛故障及交通事故。</li>
        <li>乘客未經由台灣代駕進行預約，私下預約代駕司機提供服務，所生之權利義務概與台灣代駕無關，乘客與代駕司機皆不得享有台灣代駕所提供之補償、保險等額外之服務。</li>
        <li>本協定由代駕司機簽章、客戶簽字即時生效。本協定附件《台灣代駕服務確認單》與本協定具有同等的法律效力。本協定一式兩份，乘客、司機各保留一份。</li>
        <li>
          駕駛服務中，如遇意外交通事故發生，代駕車輛負主要責任，乘客同意先行使用車輛保險理賠，台灣代駕同意承擔本應由代駕司機承擔之車輛保險自付額部分。<br> （1）委託方（即車主）同意先行使用車輛保險理賠，車輛保險因理賠導致次年保費調漲，台灣代駕同意按照車輛保險次年實際漲幅情況填補調漲之差額。
          <br> （2）台灣代駕同意提供以下交通補償款的補償：在車輛維修期間，維修時間（需維修機構提供的維修單據為准)≦7天按500/天補償。在車輛維修期間，維修時間（需維修機構提供的維修單據為准)＞7天按一次性5000元補償。
        </li>
      </ul>
    </li>
    <li>
      <h4>台灣代駕資訊服務平台使用者使用規則</h4>
      <div class="des">
        在使用台灣代駕資訊服務平台服務之前，請您務必認真閱讀本使用規則及附件（簡稱“本規則”），須充分理解各條款內容，特別是涉及免除或限制責任條款。當您進入台灣代駕資訊服務平台，接受或使用平台各項服務時，即表示您已知悉並同意本規則的全部內容，如您不同意本規則中任何條款，應當立即停止使用。<br>        您必須具備完全行為能力才能使用平台服務。若您不具備前述行為能力，則您本人及您的監護人、代理人應依法承擔因此導致的全部法律責任。 我們的平台：指台灣代駕資訊服務平台（簡稱“平台”），是由群悅科技股份有限公司(簡稱群悅公司)開發並運行的，包括官網、手機APP、官方客服電話、協力廠商網頁連結、行動通訊軟體、簡訊等在內的綜合資訊平台，可以向使用者提供汽車代駕資訊以及獲取資訊的途徑。<br>        我們的服務：在我們的平台，用戶可以實現發佈和（或）獲取汽車代駕需求資訊，以及與代駕相關的訂單記錄、費用結算、體驗評價等活動。但平台或群悅公司不實際提供代駕服務，不代理任何使用者一方提供代駕服務，僅充當使用者之間的中間人，用戶之間使用或提供代駕服務受其簽訂（將要）的協議約束，平台或群悅公司不是此類協議中的一方主體。
        <br> 我們的用戶：依法具有完全行為能力的自然人或法人使用或接受平台服務即為平台使用者，包括乘客和代駕司機。
      </div>
    </li>
    <li>
      <h4>一、用戶註冊</h4>
      <ul>
        <li>自行註冊：代駕服務使用方(下稱乘客)在首次使用或接受平台服務前，按照平台提示資訊獨立完成註冊。</li>
        <li>協助註冊：乘客在首次進入平台後或者使用平台服務前，由平台根據使用者提供的資訊協助其自動完成註冊。</li>
        <li>審核註冊：代駕服務提供方(下稱代駕司機)應當按照要求完成培訓、駕駛技術審核等流程，並生成專用帳號後，方能完成註冊。</li>
        <li>用戶完成註冊後，即可享受平台提供的各項服務，同時應當遵守並履行本規則各項義務。使用者以平台認可的其他方式接受或使用代駕服務視為已完成註冊。</li>
      </ul>
    </li>
    <li>
      <h4>二、服務專案</h4>
      <ul>
        <li>資訊服務：平台為用戶提供發送代駕請求（叫單）和接受該請求（接單）的資訊推送服務，以及使用者達成和履行代駕服務協定的資訊記錄服務。</li>
        <li>代駕司機通過平台獲取資訊後，應當向平台支付代駕資訊服務費。</li>
        <li>結算服務：平台為使用者之間的代駕服務費用結算提供服務。代駕服務結束後，乘客應當按照平台訂單記錄的時間、里程資料和平台公佈的收費標準向代駕司機支付代駕服務費。平台會根據市場需求或使用者回饋更新費用標準，用戶應當注意查看平台最新公佈收費標準。</li>
        <li>群悅公司可以為用戶設立預存帳戶，並根據使用者授權代為支付或劃取相關費用（包括代駕資訊服務費，代駕服務費及其他費用或違約金）。</li>
        <li>評價服務：使用者可以通過平台對代駕服務行為作出評價或提出意見，評價內容應當客觀真實，不得包含辱駡、詆毀以及法律禁止性資訊，不得違反平台規則。否則，群悅公司有權採取相關措施，包括但不限於刪除評價、限制或禁止使用、要求賠償損失以及追究其他責任。</li>
        <li>使用者不得以不當方式説明他人提高評價，不得對其他用戶實施威脅、敲詐。</li>
        <li>群悅公司可以根據評價統計，對使用者進行綜合評定，具體評定辦法由群悅公司另行制定。</li>
        <li>調處服務：用戶如在使用平台過程中以及代駕服務過程中發生爭議，並選擇使用平台爭議調處服務，則表示認可群悅公司作為獨立第三方根據所瞭解的事實及平台規則作出的調處決定。</li>
        <li>用戶應當理解並同意，在爭議調處服務中，群悅公司之人員並非專業裁判人士，僅能以普通人的認知對用戶提交的憑證進行判斷，群悅公司對調處結果免責。</li>
      </ul>
    </li>

    <li>
      <h4>三、用戶義務</h4>
      <div class="des">
        使用者使用或接受平台服務時，應當遵守平台秩序，承擔以下義務：
      </div>
      <ul>
        <li>使用者須向平台提供真實合法的有效資訊，如因提供的資訊虛假、錯誤、不準確、不完整，所導致的服務及資訊偏差、失誤，群悅公司不承擔任何責任；由此引起的任何損失由用戶自行承擔。</li>
        <li>用戶應當妥善保管自己的帳號，且不應在沒有授權的情況下使用他人帳號。</li>
        <li>用戶不得利用平台騷擾、妨礙他人或從事任何違法或侵權行為（包括但不限於惡意叫單、接單、多次銷單等影響平台或其他用戶的行為）。</li>
        <li>用戶不得影響平台的正常運行，不得進行危害平台服務或影響平台資料的行為。</li>
        <li>當平台提出合理請求時，用戶應提供任何身份或車輛、事件相關證明文件。</li>
        <li>使用者在使用平台服務過程中，所產生的應納稅費，以及一切硬體、其他應用軟體、網路通訊服務及其它方面的費用，均由其獨自承擔。</li>
        <li>使用者違反平台管理或平台規則，群悅公司有權採取相關處理措施，包括但不限於：資訊刪除、註銷或停止帳戶之使用、限制使用、終止服務等。如造成群悅公司損失，用戶還應賠償群悅公司包括但不限於商譽損失、墊付或賠償款項、和解或調解款項、律師費、差旅費、訴訟費用、行政罰款等一切損失。</li>
        <li>使用者同意平台向其發送商業性簡訊，用以通知、提醒、確認平台使用的相關內容及優惠資訊等。</li>
      </ul>
    </li>

    <li>
      <h4>四、各方責任</h4>
      <ul>
        <li>除本規則載明責任外，群悅公司不對代駕服務中產生的爭議及遭受的損失承擔責任。</li>
        <li>代駕司機為乘客同意的車輛駕駛員，如在代駕過程中發生交通事故，應以乘客車輛的第三者責任險或者其他保險對相關人身、財產損失進行賠償為主。不足部分，根據相關司法單位認定代駕司機之責任歸屬；非代駕司機負擔損害賠償時，由乘客直接向相應責任方進行追償。</li>
        <li>鑒於網路服務特殊性，以及平台資訊來源於使用者提供，故群悅公司無法逐一審查資訊的真實性、準確性，對此用戶自己應審慎判決並獨立做出決定。對因此導致的損害，除非群悅公司故意造成外，群悅公司不承擔任何責任。</li>
        <li>平台提供的代駕資訊服務受制於使用者使用情況，平台或群悅公司有權不經事先通知，隨時變更、中斷或終止部分或全部的服務，並且不保證服務一定能滿足使用者要求。</li>
        <li>使用者未通過平台認可的途徑、方式叫單、接單，則不能享受本規則中任何權利，因此發生的爭議以及造成的損失，群悅公司不承擔任何責任。</li>
      </ul>
    </li>

    <li>
      <h4>五、智慧財產權</h4>
      <ul>
        <li>平台包含的所有內容，包括但不限於圖形、標誌及軟體的所有權均屬群悅公司所有，受智慧財產權等法律法規的保護，您在使用服務過程中不得以任何形式侵害所有人前述權利。</li>
        <li>未經群悅公司允許，您不得複製或發送任何平台內容，不得修改平台相關程式或據此改作衍生產品或競爭產品。</li>
      </ul>
    </li>

    <li>
      <h4>六、規則、通知、變更和終止</h4>
      <ul>
        <li>平台所有通過官網、手機APP、行動通訊軟體、簡訊公眾號發佈的實施細則、公告、通知、產品或流程說明等均視為本規則的不可分割的組成部分，與本規則具有同等法律效力。</li>
        <li>本規則一經發佈即生效。平台可以通過官網、手機APP、行動通訊軟體、簡訊等方式對本規則內容的發佈、修改、增加、廢止等作出公佈或通知，也可以某些功能進行限制或終止使用，用戶應當隨時關注平台公示資訊。規則內容一經公佈或通知即替代原規則內容發生效力，如使用者不同意發佈或變更的內容，應立即停止使用本平台的相關服務；若使用者繼續使用平台服務，則視為同意發佈或變更事項。</li>
        <li>出現以下情況時，平台有權限制或終止向使用者提供服務： <br> 3.1 提供手機號碼不存在或無法接收資訊，且無其他方式得取得聯繫。<br> 3.2 本規則變更時，明示並通知平台不願接受新變更內容。<br> 3.3 連續180天未使用平台服務。<br>          3.4 有違法或違約行為。<br> 3.5 其他為維護平台運營秩序採取之限制或終止服務措施。
        </li>
        <li>平台在限制或終止提供服務後，仍享有下列權利：<br> 4.1 繼續保存使用者之註冊資訊及使用平台服務資訊。<br> 4.2 就用戶違法或違約行為主張法律責任。</li>
      </ul>
    </li>

    <li>
      <h4>七、法律適用與管轄</h4>
      <ul>
        <li>本規則之效力、解釋、變更、執行與爭議解決均適用中華民國法律，如無相關法律規定的，則應參照通用商業慣例和（或）行業慣例。</li>
        <li>因使用平台服務產生爭議，應充分友好協商處理；若協商不成，應以平台運營商群悅公司住所地法院為管轄法院。</li>
        <li>本規則任一條款被廢止或被視為無效，不影響本規則其餘條款效力。本規則的最終解釋權歸平台運營方群悅公司所有。</li>
      </ul>
    </li>

    <li>
      <h4>八、相關釋義：</h4>
      <div class="des">
        平台服務：指基於網路、通訊技術，包含官網、手機APP、官方客服電話、協力廠商網頁連結、行動通訊軟體以及其他平台認可的服務方式在內的汽車代駕資訊服務。 <br>
        手機APP：指包含乘客用戶端、代駕司機專用用戶端等在內的由群悅公司研發的用戶端。 <br>
        代駕服務：指代駕司機直接向乘客提供有償代駕服務。<br>
        帳號：指使用者進入使用平台，以及接受平台服務的帳號。 <br>
        註冊號：指用戶用以登錄帳號的號碼。 <br>
        預存帳戶：指用戶設立帳戶預存一定費用，並授權平台代為結算並劃扣代駕資訊服務費或代駕服務費等費用。乘客使用者可以設立預存帳戶，代駕司機使用者應當設立預存帳戶。<br>
        註冊司機：指按照平台要求完成審核註冊之代駕司機。 <br>
        訂單：指通過平台記錄乘客和代駕司機具體資訊電子訂單。 <br>
        叫單：指乘客通過平台認可方式向代駕司機發出需要代駕服務的要約。<br>
        接單：指代駕司機通過平台認可的方式作出提供代駕服務的承諾，即接受乘客叫單。<br>
        銷單：指乘客取消叫單，或代駕司機取消接單。<br>
        拒單：指代駕司機拒絕接受或超時未回應叫單。 <br>
        逃單：代駕司機逃避向平台支付代駕資訊服務費之行為，包括但不限於通過平台取得乘客資訊後私自聯繫乘客提供代駕服務等。
      </div>
    </li>

    <li>
      <h4>九、個人資訊保密義務：</h4>
      <ul>
        <li>代駕司機及乘客同意平台在為履行代駕服務之目的內得蒐集、處理及利用其個人資料。</li>
        <li>乘客同意在平台上提供之個人資料，平台將其個人資訊提供給代駕司機。</li>
        <li>代駕司機同意在平台上提供之個人資料，平台將其個人資訊提供給乘客。</li>
        <li>代駕司機對於因執行代駕服務而知悉、取得或持有乘客之個人資訊負有保密義務及個人資料保護法等之相關法律責任，不得散布、複製、傳送、發表、告知或以任何其他方式揭露，亦不得使用於其他用途。</li>
      </ul>
    </li>
  </ul>
</div>
